.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.root > section {
  flex-basis: 95%;

  @media only screen and (min-width: 1200px) {
    flex-basis: 52%;
  }
}

.root blockquote {
  color: #666;
  margin: 0;
  padding-left: 1.5em;
  border-left: 0.5em #eee solid;
}
